:root {
  --bg-color: white;
  --text-color: black;
}

/* .dark-mode {
  --bg-color: black;
  --text-color: white;
} */

.title {
  /* border: 2px solid red; */
  /* width: 80%; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  padding: 10px;
  font-size: 1.5em;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.container {
  background-color: var(--bg-color);
  color: var(--text-color);
  /* border: 2px solid greenyellow; */
  padding: 10px;
  min-height: 100px;
  /* float: left; */
}

.task-container {
  width: 100%;
  height: 50px;
  border: 1px solid var(--text-color);
  display: grid;
  grid-template-columns: 10% 80% 10%;
  align-items: center;
}

.task-container:not(:first-child) {
  margin-top: 5px; /* Adjust the value as needed */
}

.checkBox,
.task-name,
.remove-container {
  height: 80%;
  /* border: 2px solid blue; */
}

.remove-container {
  /* width: 40px; */
}

.checkBox {
  /* width: 40px; */
  /* grid-column: 1/2; */
}

.task-name {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* min-width: 90%; */
}

.remove-container {
  display: flex;
  /* flex-direction: column; */
  opacity: 0;
  transition: opacity 300ms;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
}

.remove-container > span {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 50%;
  /* border: 1px solid green; */
}

.checkBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkBox > input {
  scale: 1.5;
}

.remove-container:hover {
  color: red;
  /* border: 1px solid green; */
  opacity: 1;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

button {
  font-family: "outfit";
  /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
  margin-left: 1.5rem;
  width: 100px;
  height: 40px;
  background-color: rgb(176, 240, 240);
  border: none;
}

button:hover {
  background-color: rgb(8, 233, 113);
}

.main {
  display: flex;
  flex-direction: column;
  /* width: 80%; */
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 300ms;
  /* border: 2px solid red; */
  /* float: left; */
  height: 100vh;
}

/* .main::after {
  content: "";
  clear: both;
} */

@media only screen and (max-width: 425px) {
  .main {
    display: block;
    width: 100%;
    /* height: auto; */
  }
  .checkBox > input {
    scale: 1;
  }
}
